# Getting started with pandas

In [1]:
from pandas import Series, DataFrame
import pandas as pd

In [2]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4)
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [3]:
%pwd

'C:\\Users\\Tyler\\Desktop\\Katie\\Intro to Python (Spring A 2019)'

In [ ]:
#cd /Users/seanpaddock/Documents/Intro to Python

set a directory via cd

## Introduction to pandas data structures

### Series
Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index.

In [4]:
obj = Series([4, 7, -5, 3]) #create a series to work with
print(obj) #print the series

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
print(obj.values) #prints the values of the series
print(obj.index) #prints the index

[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c']) #set the index to something specific (arbitrary in this case)
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [7]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

With Pandas, "object" just means string

In [8]:
obj2['a'] #select a specific value from the series based on an index value

-5

In [9]:
obj2['d'] = 6 #change the value of 'd'
obj2[['c', 'a', 'd']] #print a subset of the series

c    3
a   -5
d    6
dtype: int64

In [10]:
obj2[obj2 > 0] #you can print a subset based on logic too!

d    6
b    7
c    3
dtype: int64

In [11]:
obj3 = obj2 * 2 #basic math works with series as well

In [12]:
obj3

d    12
b    14
a   -10
c     6
dtype: int64

In [13]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [14]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000} #let's create a dictionary
obj3 = Series(sdata) #convert the dictionary to a series
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

Dictionaries use key value pairs.  So, when it gets converted to a series, the 'key' becomes the index.

In [15]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [16]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [17]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [ ]:
obj4.isnull()

In [ ]:
obj3

In [ ]:
obj4

### DataFrame
via a dictionary

In [18]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
#data
frame = DataFrame(data)

In [19]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [ ]:
DataFrame(data, columns=['year', 'state', 'pop'])

In [ ]:
frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                   index=['one', 'two', 'three', 'four', 'five'])
frame2

In [ ]:
frame2.columns

In [ ]:
frame2['state']

In [ ]:
frame2.year

In [ ]:
frame2.ix['three']

In [ ]:
frame2['debt'] = 16.5
frame2

In [ ]:
frame2['debt'] = np.arange(5.)
frame2

In [ ]:
val = Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']
frame2.columns

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [ ]:
frame3 = DataFrame(pop)
frame3

In [ ]:
frame3.T

In [ ]:
#DataFrame(pop, index=[2001, 2002, 2003])

In [ ]:
data = DataFrame(np.arange(16).reshape((4, 4)),
                 index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one', 'two', 'three', 'four'])

In [ ]:
data

In [ ]:
data.drop(['Colorado', 'Ohio'], axis = 0)

In [ ]:
data.drop('two', axis=1)

In [ ]:
data.drop(['two', 'four'], axis=1)

In [ ]:
data[:3]

In [ ]:
data[data['three'] > 5]

In [ ]:
data > 5

In [ ]:
data[data < 5] = 0

In [ ]:
data

### Sorting and ranking

In [20]:
obj = Series(range(4), index=['2', '3', '1', '4'])
obj.sort_index()

1    2
2    0
3    1
4    3
dtype: int64

In [ ]:
frame = DataFrame(np.arange(8).reshape((2, 4)), index=['five', 'one'],
                  columns=['d', 'a', 'b', 'c'])
frame.sort_index()

In [ ]:
#frame = DataFrame(arange(8).reshape((2, 4)), index=['five', 'one'],
#                  columns=['d', 'a', 'b', 'c'])
#frame.sort_index()

In [ ]:
frame.sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1, ascending=False)

## Summarizing and computing descriptive statistics

In [ ]:
df = DataFrame([[1.4, np.nan], [7.1, -4.5],
                [np.nan, np.nan], [0.75, -1.3]],
               index=['a', 'b', 'c', 'd'],
               columns=['one', 'two'])
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis=1)

In [ ]:
df.mean(axis=1, skipna=False)

In [ ]:
df.idxmax()

In [ ]:
df.cumsum()

In [ ]:
df.describe()

In [ ]:
obj = Series(['a', 'a', 'b', 'c'] * 4)
obj.describe()

### Correlation and covariance

In [ ]:
#!pip install pandas-datareader

In [ ]:
#import pandas_datareader.data as web

#all_data = {}
#for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
#    all_data[ticker] = web.get_data_yahoo(ticker)

#price = DataFrame({tic: data['Adj Close']
#                   for tic, data in all_data.iteritems()})
#volume = DataFrame({tic: data['Volume']
#                    for tic, data in all_data.iteritems()})

In [ ]:
#returns = price.pct_change()
#returns.tail()

In [ ]:
#returns.shape

In [ ]:
#returns.MSFT.corr(returns.IBM)

In [ ]:
#returns.MSFT.cov(returns.IBM)

In [ ]:
#returns.corr()

In [ ]:
#returns.cov()

In [ ]:
#returns.corrwith(returns.IBM)

In [ ]:
#returns.corrwith(volume)

### Unique values, value counts, and membership

In [ ]:
obj = Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [ ]:
uniques = obj.unique()
uniques

In [ ]:
obj.value_counts()

In [ ]:
pd.value_counts(obj.values, sort=False)

In [ ]:
mask = obj.isin(['b', 'c'])
mask

In [ ]:
obj[mask]

In [ ]:
data = DataFrame({'Qu1': [1, 3, 4, 3, 4],
                  'Qu2': [2, 3, 1, 2, 3],
                  'Qu3': [1, 5, 2, 4, 4]})
data

In [ ]:
#result = data.apply(pd.value_counts).fillna(0)
#result

## Handling missing data

In [ ]:
string_data = Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

In [ ]:
string_data.isnull()

In [ ]:
string_data[0] = None
string_data.isnull()

### Filtering out missing data

In [ ]:
from numpy import nan as NA
data = Series([1, NA, 3.5, NA, 7])
data.dropna()

In [ ]:
data[data.notnull()]

In [ ]:
data = DataFrame([[1., 6.5, 3.], [1., NA, NA],
                  [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()
data

In [ ]:
cleaned

In [ ]:
data.dropna(how='all')

In [ ]:
data[4] = NA
data

In [ ]:
data.dropna(axis=1, how='all')

In [ ]:
df = DataFrame(np.random.randn(7, 3))
df.ix[:4, 1] = NA; df.ix[:2, 2] = NA
df

In [ ]:
df.dropna(thresh=2)#thresh allows you to require a certain number of NAs in the record

### Filling in missing data

In [ ]:
df.fillna(0)

In [ ]:
df.fillna({1: 0.5, 2: -1})

In [ ]:
# always returns a reference to the filled object
obj = df.fillna(0, inplace=True)
df

In [ ]:
df = DataFrame(np.random.randn(6, 3))
df.ix[2:, 1] = NA; df.ix[4:, 2] = NA
df

In [ ]:
df.fillna(method='ffill')

In [ ]:
df.fillna(method='ffill', limit=2)

In [ ]:
data = Series([1., NA, 3.5, NA, 7])
data.fillna(data.mean())